.site-footer {
    background: url(../img/background/wavs-bottom.svg), linear-gradient(rgba(255, 255, 255, 0) 0%, #bcd7e7 100%);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
    padding-top: 12rem;
    padding-bottom: 22rem;
    border-bottom: 0.8rem solid var(--color-primary);
    .footer-brand {
        .logo {
            max-width: 220px;
        }
        .title {
            font-size: 56px;
        }
    }
    .footer-contact {
        .box {
            background-color: var(--color-light);
            border-radius: 2rem;
            padding: 1rem 3rem;
        }
        .btn {
            font-size: var(--typo-sm);
            overflow: hidden;
            img {
                position: relative;
                top: -2px;
                left: -30px;
                width: 60px;
            }
            span {
                position: relative;
                left: -30px;
                font-size: 28px;
                color: var(--color-secondary);
            }
        }
        .item-list > li {
            width: 100%;
        }
        .item-list > li + li {
            margin-top: 1.5rem;
        }
    }
}

@media (max-width: 1600px) {
    .site-footer .footer-brand .logo {
        max-width: 180px;
    }
    .site-footer .footer-brand .title {
        font-size: 50px;
    }
}

@media (max-width: 1440px) {
    .site-footer .footer-brand .logo {
        max-width: 160px;
    }
    .site-footer .footer-brand .title {
        font-size: 40px;
    }
    .site-footer .footer-contact .box {
        padding: 1rem 2rem;
    }
    .site-footer .footer-contact .btn span {
        font-size: 24px;
        left: -10px;
    }
    .site-footer .footer-contact .btn img {
        left: -10px;
        width: 44px;
    }
}

@media (max-width: 1199px) {
    .site-footer {
        padding-top: 6rem;
        padding-bottom: 14rem;
    }
    .site-footer .footer-brand {
        margin-bottom: 1.5rem;
    }
    .site-footer .footer-brand .title {
        font-size: 36px;
    }
    .site-footer .footer-brand .logo {
        max-width: 140px;
    }
}

// @media (max-width: 991px) {
// }

@media (max-width: 767px) {
    .site-footer {
        padding-bottom: 8rem;
    }
    .site-footer .footer-contact .box {
        padding: 1.5rem;
    }
    .site-footer .footer-brand .logo {
        max-width: 120px;
    }
    .site-footer .footer-brand .title {
        font-size: 32px;
    }
    .site-footer .footer-brand .desc br {
        display: none;
    }
    .site-footer .footer-contact .qr-code {
        max-width: 80%;
    }
    .site-footer .footer-contact .item-list > li + li {
        margin-top: 1rem;
    }
}

@media (max-width: 575px) {
    .site-footer {
        padding-bottom: 6rem;
    }
    .site-footer .footer-brand {
        text-align: center;
    }
    .site-footer .footer-brand .logo {
        max-width: 100px;
    }
}
