.site-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    background: var(--color-light);
    height: 90px;
    box-shadow: (0px 3px 26px rgba(0, 0, 0, 0.12));
    .navbar {
        .navbar-brand {
            margin-left: 1rem;
            margin-right: 3rem;
            img {
                max-width: 64px;
            }
            strong {
                position: relative;
                top: 4px;
                margin-left: 1.4rem;
            }
        }
        .nav-link {
            position: relative;
        }
        .navbar-nav {
            .active > .nav-link::before,
            .nav-link.active::before,
            .nav-link.show::before,
            .show > .nav-link::before {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                height: 4px;
                bottom: -27px;
                background: var(--color-secondary);
            }
        }
        #navbarMenu {
            .navbar-nav li+ li {
                margin-left: 1.5rem;
            }
        }
    }
    .feather {
        font-size: 26px;
    }
}
