.btn {
	background: none;
	position: relative;
	padding: 0 1.8rem;
	min-width: 120px;
	height: 54px;
	line-height: 52px;
	border: 1px solid transparent;
	// border-radius: 0;
	border-radius: 3.2rem;
	font-size: var(--typo-default);
	font-weight: var(--fw-medium);
	&.fluid {
		min-width: inherit;
		width: 100%;
	}
	&:focus {
		box-shadow: none;
	}
	&.btn-xs {
	}
	&.btn-sm {
	}
	&.btn-lg {
		height: 64px;
		line-height: 62px;
	}
	&.btn-xl {
		height: 74px;
		line-height: 72px;
	}
}

.btn:not(:disabled):not(.disabled).active:focus,
.btn:not(:disabled):not(.disabled):active:focus,
.show > .btn.dropdown-toggle:focus {
	box-shadow: none;
}

.btn-primary,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
	color: #fff;
	background-color: var(--color-primary);
	border-color: transparent;
}
.btn-primary:hover,
.btn-primary:active:hover,
.btn-primary.active:hover,
.btn-primary:active:focus,
.btn-primary.actitve:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.btn-primary:focus:hover,
.btn-primary.focus:hover {
	color: #fff;
	background-color: var(--color-primary);
	border-color: transparent;
}
.btn-primary.disabled,
.btn-primary.disabled:hover {
	color: #fff;
	background-color: var(--color-primary);
	border-color: transparent;
	opacity: 0.5;
}
