.modal {
    .close {
        position: absolute;
        z-index: 20;
        top: 20px;
        right: 20px;
        opacity: 1;
        span {
            background: var(--color-gray);
            color: rgba(0, 0, 0, 0.2);
            font-size: 30px;
            font-weight: bold;
            border-radius: 50%;
            padding: 6px;
            transition: 0.1s;
        }
        &:hover span {
            color: rgba(0, 0, 0, 0.8);
        }
    }
    .modal-content {
        border-radius: 2rem;
    }
}
.modal.modal-contact {
    .modal-body {
        padding: 3rem;

        .title {
            position: absolute;
            top: -35px;
            left: 0;
            right: 0;
            font-size: 60px;
            color: var(--color-primary);
            text-shadow: rgb(255, 255, 255) 12px 0px 0px, rgb(255, 255, 255) 11.9584px 0.998843px 0px,
                rgb(255, 255, 255) 11.8337px 1.99075px 0px, rgb(255, 255, 255) 11.6269px 2.96885px 0px,
                rgb(255, 255, 255) 11.3395px 3.92634px 0px, rgb(255, 255, 255) 10.9733px 4.85657px 0px,
                rgb(255, 255, 255) 10.531px 5.75311px 0px, rgb(255, 255, 255) 10.0156px 6.60971px 0px,
                rgb(255, 255, 255) 9.43065px 7.42044px 0px, rgb(255, 255, 255) 8.78027px 8.17967px 0px,
                rgb(255, 255, 255) 8.06895px 8.88212px 0px, rgb(255, 255, 255) 7.30163px 9.52293px 0px,
                rgb(255, 255, 255) 6.48363px 10.0977px 0px, rgb(255, 255, 255) 5.62063px 10.6023px 0px,
                rgb(255, 255, 255) 4.71862px 11.0333px 0px, rgb(255, 255, 255) 3.78387px 11.3878px 0px,
                rgb(255, 255, 255) 2.82285px 11.6633px 0px, rgb(255, 255, 255) 1.84224px 11.8577px 0px,
                rgb(255, 255, 255) 0.848846px 11.9699px 0px, rgb(255, 255, 255) -0.15044px 11.9991px 0px,
                rgb(255, 255, 255) -1.14868px 11.9449px 0px, rgb(255, 255, 255) -2.13895px 11.8078px 0px,
                rgb(255, 255, 255) -3.11438px 11.5888px 0px, rgb(255, 255, 255) -4.06819px 11.2894px 0px,
                rgb(255, 255, 255) -4.99376px 10.9116px 0px, rgb(255, 255, 255) -5.88468px 10.458px 0px,
                rgb(255, 255, 255) -6.73475px 9.93192px 0px, rgb(255, 255, 255) -7.53808px 9.33688px 0px,
                rgb(255, 255, 255) -8.2891px 8.67703px 0px, rgb(255, 255, 255) -8.98258px 7.95696px 0px,
                rgb(255, 255, 255) -9.61372px 7.18167px 0px, rgb(255, 255, 255) -10.1781px 6.35653px 0px,
                rgb(255, 255, 255) -10.6719px 5.48727px 0px, rgb(255, 255, 255) -11.0916px 4.57993px 0px,
                rgb(255, 255, 255) -11.4344px 3.64081px 0px, rgb(255, 255, 255) -11.6977px 2.67641px 0px,
                rgb(255, 255, 255) -11.8799px 1.69344px 0px, rgb(255, 255, 255) -11.9796px 0.698716px 0px,
                rgb(255, 255, 255) -11.9962px -0.300857px 0px, rgb(255, 255, 255) -11.9296px -1.29834px 0px,
                rgb(255, 255, 255) -11.7801px -2.28682px 0px, rgb(255, 255, 255) -11.5489px -3.25942px 0px,
                rgb(255, 255, 255) -11.2375px -4.2094px 0px, rgb(255, 255, 255) -10.8481px -5.13016px 0px,
                rgb(255, 255, 255) -10.3834px -6.01532px 0px, rgb(255, 255, 255) -9.84671px -6.85874px 0px,
                rgb(255, 255, 255) -9.24164px -7.65454px 0px, rgb(255, 255, 255) -8.57243px -8.39723px 0px,
                rgb(255, 255, 255) -7.84372px -9.08163px 0px, rgb(255, 255, 255) -7.06058px -9.703px 0px,
                rgb(255, 255, 255) -6.22843px -10.257px 0px, rgb(255, 255, 255) -5.35305px -10.7399px 0px,
                rgb(255, 255, 255) -4.44052px -11.1482px 0px, rgb(255, 255, 255) -3.49717px -11.4791px 0px,
                rgb(255, 255, 255) -2.52955px -11.7304px 0px, rgb(255, 255, 255) -1.54437px -11.9002px 0px,
                rgb(255, 255, 255) -0.548477px -11.9875px 0px, rgb(255, 255, 255) 0.451226px -11.9915px 0px,
                rgb(255, 255, 255) 1.4478px -11.9123px 0px, rgb(255, 255, 255) 2.43432px -11.7505px 0px,
                rgb(255, 255, 255) 3.40395px -11.5071px 0px, rgb(255, 255, 255) 4.34995px -11.1838px 0px,
                rgb(255, 255, 255) 5.26576px -10.7829px 0px, rgb(255, 255, 255) 6.14503px -10.3072px 0px,
                rgb(255, 255, 255) 6.98164px -9.75995px 0px, rgb(255, 255, 255) 7.7698px -9.14495px 0px,
                rgb(255, 255, 255) 8.50404px -8.46648px 0px, rgb(255, 255, 255) 9.17925px -7.72925px 0px,
                rgb(255, 255, 255) 9.79076px -6.93838px 0px, rgb(255, 255, 255) 10.3343px -6.09935px 0px,
                rgb(255, 255, 255) 10.8061px -5.21799px 0px, rgb(255, 255, 255) 11.203px -4.30041px 0px,
                rgb(255, 255, 255) 11.522px -3.35299px 0px, rgb(255, 255, 255) 11.7612px -2.38229px 0px,
                rgb(255, 255, 255) 11.9186px -1.39506px 0px, rgb(255, 255, 255) 11.9934px -0.398151px 0px;
            // color: var(--color-light);
            // -webkit-text-fill-color: var(--color-primary); /* Will override color (regardless of order) */
            // -webkit-text-stroke-width: 3px;
            // -webkit-text-stroke-color: var(--color-light);
        }
        .btn {
            font-size: var(--typo-md);
            img {
                position: relative;
                top: -2px;
                left: -30px;
                width: 60px;
            }
            span {
                position: relative;
                left: -30px;
                font-size: 28px;
                color: var(--color-secondary);
            }
        }
        .list-group a + a {
            margin-top: 1.5rem;
        }
    }
}

@media (max-width: 1600px) {
    .modal.modal-contact .modal-body .title {
        font-size: 50px;
        text-shadow: rgb(255, 255, 255) 10px 0px 0px, rgb(255, 255, 255) 9.95004px 0.998334px 0px,
            rgb(255, 255, 255) 9.80067px 1.98669px 0px, rgb(255, 255, 255) 9.55336px 2.9552px 0px,
            rgb(255, 255, 255) 9.21061px 3.89418px 0px, rgb(255, 255, 255) 8.77583px 4.79426px 0px,
            rgb(255, 255, 255) 8.25336px 5.64642px 0px, rgb(255, 255, 255) 7.64842px 6.44218px 0px,
            rgb(255, 255, 255) 6.96707px 7.17356px 0px, rgb(255, 255, 255) 6.2161px 7.83327px 0px,
            rgb(255, 255, 255) 5.40302px 8.41471px 0px, rgb(255, 255, 255) 4.53596px 8.91207px 0px,
            rgb(255, 255, 255) 3.62358px 9.32039px 0px, rgb(255, 255, 255) 2.67499px 9.63558px 0px,
            rgb(255, 255, 255) 1.69967px 9.8545px 0px, rgb(255, 255, 255) 0.707372px 9.97495px 0px,
            rgb(255, 255, 255) -0.291995px 9.99574px 0px, rgb(255, 255, 255) -1.28844px 9.91665px 0px,
            rgb(255, 255, 255) -2.27202px 9.73848px 0px, rgb(255, 255, 255) -3.2329px 9.463px 0px,
            rgb(255, 255, 255) -4.16147px 9.09297px 0px, rgb(255, 255, 255) -5.04846px 8.63209px 0px,
            rgb(255, 255, 255) -5.88501px 8.08496px 0px, rgb(255, 255, 255) -6.66276px 7.45705px 0px,
            rgb(255, 255, 255) -7.37394px 6.75463px 0px, rgb(255, 255, 255) -8.01144px 5.98472px 0px,
            rgb(255, 255, 255) -8.56889px 5.15501px 0px, rgb(255, 255, 255) -9.04072px 4.2738px 0px,
            rgb(255, 255, 255) -9.42222px 3.34988px 0px, rgb(255, 255, 255) -9.70958px 2.39249px 0px,
            rgb(255, 255, 255) -9.89993px 1.4112px 0px, rgb(255, 255, 255) -9.99135px 0.415807px 0px,
            rgb(255, 255, 255) -9.98295px -0.583741px 0px, rgb(255, 255, 255) -9.8748px -1.57746px 0px,
            rgb(255, 255, 255) -9.66798px -2.55541px 0px, rgb(255, 255, 255) -9.36457px -3.50783px 0px,
            rgb(255, 255, 255) -8.96758px -4.4252px 0px, rgb(255, 255, 255) -8.481px -5.29836px 0px,
            rgb(255, 255, 255) -7.90968px -6.11858px 0px, rgb(255, 255, 255) -7.25932px -6.87766px 0px,
            rgb(255, 255, 255) -6.53644px -7.56803px 0px, rgb(255, 255, 255) -5.74824px -8.18277px 0px,
            rgb(255, 255, 255) -4.90261px -8.71576px 0px, rgb(255, 255, 255) -4.00799px -9.16166px 0px,
            rgb(255, 255, 255) -3.07333px -9.51602px 0px, rgb(255, 255, 255) -2.10796px -9.7753px 0px,
            rgb(255, 255, 255) -1.12153px -9.93691px 0px, rgb(255, 255, 255) -0.123887px -9.99923px 0px,
            rgb(255, 255, 255) 0.87499px -9.96165px 0px, rgb(255, 255, 255) 1.86512px -9.82453px 0px,
            rgb(255, 255, 255) 2.83662px -9.58924px 0px, rgb(255, 255, 255) 3.77978px -9.25815px 0px,
            rgb(255, 255, 255) 4.68517px -8.83455px 0px, rgb(255, 255, 255) 5.54374px -8.32267px 0px,
            rgb(255, 255, 255) 6.34693px -7.72764px 0px, rgb(255, 255, 255) 7.0867px -7.0554px 0px,
            rgb(255, 255, 255) 7.75566px -6.31267px 0px, rgb(255, 255, 255) 8.34713px -5.50686px 0px,
            rgb(255, 255, 255) 8.8552px -4.64602px 0px, rgb(255, 255, 255) 9.27478px -3.73877px 0px,
            rgb(255, 255, 255) 9.6017px -2.79415px 0px, rgb(255, 255, 255) 9.83268px -1.82162px 0px,
            rgb(255, 255, 255) 9.96542px -0.830894px 0px;
    }
}

@media (max-width: 1440px) {
    .modal.modal-contact .modal-body .title {
        top: -30px;
        font-size: 40px;
        text-shadow: rgb(255, 255, 255) 7px 0px 0px, rgb(255, 255, 255) 6.92869px 0.996602px 0px,
            rgb(255, 255, 255) 6.71622px 1.9729px 0px, rgb(255, 255, 255) 6.36692px 2.909px 0px,
            rgb(255, 255, 255) 5.8879px 3.78584px 0px, rgb(255, 255, 255) 5.28893px 4.58555px 0px,
            rgb(255, 255, 255) 4.5822px 5.29183px 0px, rgb(255, 255, 255) 3.78212px 5.8903px 0px,
            rgb(255, 255, 255) 2.90498px 6.36876px 0px, rgb(255, 255, 255) 1.96865px 6.71747px 0px,
            rgb(255, 255, 255) 0.992221px 6.92932px 0px, rgb(255, 255, 255) -0.00442571px 7px 0px,
            rgb(255, 255, 255) -1.00098px 6.92806px 0px, rgb(255, 255, 255) -1.97715px 6.71498px 0px,
            rgb(255, 255, 255) -2.91303px 6.36508px 0px, rgb(255, 255, 255) -3.78956px 5.88551px 0px,
            rgb(255, 255, 255) -4.58889px 5.28603px 0px, rgb(255, 255, 255) -5.29472px 4.57885px 0px,
            rgb(255, 255, 255) -5.89269px 3.77839px 0px, rgb(255, 255, 255) -6.3706px 2.90095px 0px,
            rgb(255, 255, 255) -6.71871px 1.96441px 0px, rgb(255, 255, 255) -6.92995px 0.98784px 0px,
            rgb(255, 255, 255) -6.99999px -0.00885142px 0px, rgb(255, 255, 255) -6.92743px -1.00536px 0px,
            rgb(255, 255, 255) -6.71372px -1.98139px 0px, rgb(255, 255, 255) -6.36324px -2.91705px 0px,
            rgb(255, 255, 255) -5.88311px -3.79328px 0px, rgb(255, 255, 255) -5.28313px -4.59223px 0px,
            rgb(255, 255, 255) -4.57551px -5.29762px 0px, rgb(255, 255, 255) -3.77466px -5.89507px 0px,
            rgb(255, 255, 255) -2.89692px -6.37243px 0px, rgb(255, 255, 255) -1.96016px -6.71995px 0px,
            rgb(255, 255, 255) -0.983458px -6.93057px 0px, rgb(255, 255, 255) 0.0132771px -6.99999px 0px,
            rgb(255, 255, 255) 1.00974px -6.92679px 0px, rgb(255, 255, 255) 1.98564px -6.71247px 0px,
            rgb(255, 255, 255) 2.92107px -6.36139px 0px, rgb(255, 255, 255) 3.797px -5.88071px 0px,
            rgb(255, 255, 255) 4.59557px -5.28022px 0px, rgb(255, 255, 255) 5.30051px -4.57215px 0px,
            rgb(255, 255, 255) 5.89746px -3.77094px 0px, rgb(255, 255, 255) 6.37426px -2.89289px 0px,
            rgb(255, 255, 255) 6.72119px -1.95591px 0px, rgb(255, 255, 255) 6.93119px -0.979076px 0px;
    }
}

@media (max-width: 1199px) {
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
    .modal .modal-content {
        border-radius: 1rem;
    }
    .modal .close span {
        font-size: 26px;
        padding: 4px;
    }
    .modal.modal-contact .modal-body .title {
        top: -20px;
        font-size: 35px;
    }
    .modal.modal-contact .modal-body .btn span {
        font-size: 24px;
        left: -10px;
    }
    .modal.modal-contact .modal-body .btn img {
        top: -1px;
        width: 46px;
        left: -10px;
    }
}

@media (max-width: 575px) {
    .modal.modal-contact .modal-body .title {
        // top: -20px;
        position: relative;
        top: 0;
        font-size: 32px;
    }
    .modal.modal-contact .modal-body {
        padding: 1.5rem;
        padding-top: 3rem;
    }
}
