.site-container {
    margin-top: 90px;
    overflow: hidden;
    .section {
        .title {
            font-size: var(--typo-xl);
            margin-bottom: 0.5rem;
        }
        .desc {
            font-size: var(--typo-sm);
            margin-bottom: 3rem;
        }
        .graphic {
            position: absolute;
        }
        &.section-I {
            padding: 6rem 0;
            margin-bottom: 3rem;
            .graphic {
                &.-I {
                    margin-right: 0px;
                    right: 50%;
                    bottom: 0;
                    z-index: -1;
                    max-width: 380px;
                }
                &.-II {
                    margin-right: -900px;
                    top: -10px;
                    right: 50%;
                    z-index: -1;
                    max-width: 360px;
                    transform: rotate(24deg);
                }
                &.-III {
                    margin-right: -1020px;
                    right: 50%;
                    bottom: -160px;
                    max-width: 460px;
                }
                &.-IV {
                    margin-right: 0px;
                    top:0;
                    right: 50%;
                    width: 32px;
                    height: 32px;
                    background: var(--color-aqua);
                    opacity: 0.3;                    
                    border-radius: 50%;
                }
                &.-V {
                    margin-right: -850px;
                    top: 340px;
                    right: 50%;
                    width: 50px;
                    height: 50px;
                    background: var(--color-primary);
                    border-radius: 50%;
                    opacity: .8;
                }
                &.-VI {
                    margin-left: -300px;
                    bottom:-80px;
                    left: 50%;
                    width: 58px;
                    height: 58px;
                    background: var(--color-aqua);
                    opacity: 0.3;                    
                    border-radius: 50%;
                }
            }
        }
        &.section-II {
            padding: 6rem 0;
            margin-bottom: 8rem;
            .graphic {
                &.-I {
                    margin-left: -300px;
                    left: 50%;
                    bottom: -60px;
                    max-width: 330px;
                }
                &.-II {
                    margin-right: -700px;
                    right: 50%;
                    bottom: -200px;
                    max-width: 320px;
                    transform: rotate(-14deg);
                    z-index: 1;
                }
                &.-III {
                    margin-left: -700px;
                    bottom: -30px;
                    left: 50%;
                    width: 50px;
                    height: 50px;
                    background: var(--color-primary);
                    border-radius: 50%;
                    opacity: .8;
                }
            }
        }
        &.section-III {
            padding: 8rem 0;
            margin-bottom: 3rem;
            background-image: url(../img/background/section-III-bg.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            // .graphic {
            //     &.-I {
            //         margin-left: -300px;
            //         left: 50%;
            //         bottom: -60px;
            //         max-width: 330px;
            //     }
            // }
            .inner {
                position: relative;
                z-index: 1;
            }
            .drop-shadow {
                content: "";
                pointer-events: none;
                position: absolute;
                z-index: -1;
                bottom: -30px;
                left: 0;
                right: 0;
                height: 180px;
                width: 100%;
                background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 70%);
            }
        }
        &.section-IV {
            padding: 6rem 0;
            margin-bottom: 20rem;
            .title {
                margin: 3rem 3rem 0 3rem;
            }
            .graphic {
                &.-I {
                    margin-left: -850px;
                    top: 140px;
                    left: 50%;
                    width: 30px;
                    height: 30px;
                    background: var(--color-aqua);
                    opacity: 0.3;                    
                    border-radius: 50%;
                }
                &.-II {
                    margin-left: -300px;
                    top: 100px;
                    left: 50%;
                    width: 32px;
                    height: 32px;
                    background: var(--color-primary);
                    border-radius: 50%;
                    opacity: .8;
                }
                &.-III {
                    margin-left: -400px;
                    bottom: 130px;
                    left: 50%;
                    width: 18px;
                    height: 18px;
                    background: var(--color-secondary);
                    border-radius: 50%;
                    opacity: .8;
                }
                &.-IV {
                    margin-left: -900px;
                    left: 50%;
                    bottom: -130px;
                    max-width: 200px;
                    z-index: -1;
                }
            }
            .box {
                padding: 3rem;
                border-radius: 2rem;
                box-shadow: 0px 13px 36px rgba(0, 0, 0, 0.06);
            }
            table th,
            table td {
                border: none;
                padding: 0;
            }
            table tr th:nth-child(2) {
                width: 28%;
            }
            table tr + tr td {
                padding-top: 1.5rem;
            }
        }
        &.section-V {
            padding: 14rem 0;
            margin-bottom: 3rem;
            .title {
                margin-bottom: 1.4rem;
            }
            .desc {
                font-size: var(--typo-md);
                line-height: 1.8em;
            }
            .graphic {
                &.-I {
                    margin-left: -1180px;
                    left: 50%;
                    top: 30px;
                    max-width: 700px;
                }
                &.-II {
                    margin-left: -400px;
                    left: 50%;
                    bottom: 0;
                    max-width: 300px;
                    transform: rotate(12deg);
                }
                &.-III {
                    margin-left: -300px;
                    top: -80px;
                    left: 50%;
                    max-width: 320px;
                }
                &.-IV {
                    margin-right: -600px;
                    top: -200px;
                    right: 50%;
                    max-width: 280px;
                }
                &.-V {
                    margin-right: -1060px;
                    right: 50%;
                    bottom: -60px;
                    max-width: 360px;
                }

                &.-VI {
                    margin-left: -360px;
                    top: 200px;
                    left: 50%;
                    width: 30px;
                    height: 30px;
                    background: var(--color-aqua);
                    opacity: 0.3;                    
                    border-radius: 50%;
                }
                &.-VII {
                    margin-right: -160px;
                    top: 100px;
                    right: 50%;
                    width: 32px;
                    height: 32px;
                    background: var(--color-primary);
                    border-radius: 50%;
                    opacity: .8;
                }
                &.-VIII {
                    margin-right: -200px;
                    bottom: 130px;
                    right: 50%;
                    width: 80px;
                    height: 80px;
                    background: var(--color-secondary);
                    border-radius: 50%;
                    opacity: .8;
                }
            }
        }
        img.shape {
            &.-I-I {
                -webkit-mask: url(../img/static/shape-I-I.svg) right/contain no-repeat;
            }
            &.-I-II {
                -webkit-mask: url(../img/static/shape-I-II.svg) center/contain no-repeat;
            }
            &.-II-I {
                -webkit-mask: url(../img/static/shape-II-I.svg) left/contain no-repeat;
            }
            &.-II-II {
                -webkit-mask: url(../img/static/shape-II-II.svg) right/contain no-repeat;
            }
            &.-circle {
                -webkit-mask: url(../img/static/shape-circle.svg) center/contain no-repeat;
            }
            &.-V-I {
                -webkit-mask: url(../img/static/shape-V-I.svg) -10px center/contain no-repeat;
            }
            &.-V-V {
                -webkit-mask: url(../img/static/shape-V-V.svg) center/contain no-repeat;
            }
        }
    }
}
.top-graphic {
    .cover {
        padding-top: 95vh;
        filter: brightness(0.7);
    }
    .item {
        position: relative;
    }
    .inner {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        &::before {
            content: "";
            position: absolute;
            left: 20%;
            right: 20%;
            top: 10%;
            bottom: 10%;
            background: radial-gradient(rgba(235, 180, 103, 1), rgba(235, 180, 103, 0.15), rgba(235, 180, 103, 0));
            // background-size: 800px 100%;
            background-position: center;
            background-repeat: no-repeat;
            opacity: 0.43;
        }
        .title {
            font-size: 70px;
            margin-bottom: 1rem;
        }
        .desc {
            font-size: var(--typo-lg);
            margin-bottom: 2.5rem;
        }
        .item-list {
            display: flex;
            justify-content: center;
            .link {
                img {
                    width: 74px;
                    height: 74px;
                }
            }
            & li + li {
                margin-left: 1rem;
            }
            .btn {
                font-size: var(--typo-lg);
                .feather {
                    font-size: 30px;
                }
            }
        }
    }
    .wrapper {
        position: relative;
        color: var(--color-light);
        text-align: center;
        margin-bottom: 6rem;
    }
}
